# dependencies (bun install)
node_modules

# output
out
dist # Keep ignoring dist in case it's created accidentally
/public/ # Ignore the build output directory
*.tgz

# caches
.eslintcache
.cache
*.tsbuildinfo
.vite # Add Vite cache directory

